@import "@/styles/theme";

.footer_container {
  @include w-h(100%, auto);
  padding: 20px;
  background: $darkBlue;
  @include font(12px, 300);
  color: $white;
  .inner_container {
    @include w-h(100%, auto);
    @include flex(column, space-between, center, 20px);
    margin: 0 auto;

    div {
      @include flex(row, center, center, 10px);
      .icon {
        @include w-h(15px, auto);
        object-fit: contain;
      }
    }
  }
}

@media (width >= $queryLg) {
  .footer_container {
    @include font(14px, 300);
    .inner_container {
      @include flex(row, space-between, center, 0px);
      max-width: 1200px;
    }
  }
}

@media (width >= $queryXl) {
  .footer_container {
    @include font(16px, 300);
    .inner_container {
      max-width: 1400px;
    }
  }
}
